.text_desc {
  width: 85px;
  height: 20px;
}

.hg_desc {
  width: 110px;
  text-align: -webkit-center;
  border-right: 1px solid #e6e6e6;
  // padding-top: 10px;
  &:last-child {
    border-right: none;
  }
  .text_ab {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #4a4a4a;
    margin-top: 0px;
    margin-bottom: 0;
  }
  .nr_ab {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #4a4a4a;
  }
}
